.post-text {
    width: 60%;
    height: 80px;
    resize: none;
    border-radius: 5px;
}

.posts-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-btn {
    width: 10%;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
