.posts-item {
    margin-top: 20px;
    padding: 10px;
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: 
    'post-avatar post-message'
    'post-likes post-message';
    background-color: #d9fcb2; 
    border-radius: 20px;
}

.posts-item img {
    width: 40px;
    border-radius: 20px;
    height: 40px;
    object-fit: cover;
}

.post-avatar {
    grid-area: post-avatar;
}

.posts-likes {
    grid-area: post-likes;
}

.posts-message {
    grid-area: post-message;
    max-width: 600px;
    word-wrap: break-word;
}